@tailwind base;
@tailwind components;
@tailwind utilities;


.fadeIn{
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@layer components{
  .bdr{
    @apply border-4 border-black
  }
  .link{
    @apply font-medium bg-gray-800/90 px-1.5 py-0.5 hover:bg-gray-800 active:scale-95 duration-150 no-underline text-white
    ;
  }
  .link-active{
    @apply font-medium underline underline-offset-4;
  }
  .container{
    @apply mx-auto;
  }
  .input-container{
    @apply relative z-0 mb-8 w-full;
  }
  .input-field{
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-4 border-gray-900/20 appearance-none focus:outline-none focus:border-gray-800 placeholder:font-medium placeholder:text-sm sm:placeholder:text-lg placeholder:text-gray-800;
  }
  
  .input-label{
    @apply absolute text-base font-medium text-gray-900/70 duration-300 -translate-y-8 top-3 -z-10 origin-[0];
  }
  
  .slided-card{
    @apply h-80 max-w-xs w-full overflow-hidden relative cursor-pointer bg-white;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.slided-card .card-child{
  @apply absolute bottom-0 left-0 right-0 h-4/5 translate-y-[75%] transition-transform duration-500 overflow-y-auto;
}
.slided-card .card-child .title{
  @apply h-1/4 ;
}
.slided-card .body{
  @apply h-3/4 overflow-y-auto;
}

.slided-card .btn-div{
  @apply absolute top-0 left-0 right-0 h-1/5 translate-y-[-100%] transition-transform duration-500;
}
.slided-card .btn-div .my-btn{
  @apply py-0.5 px-1.5 bg-[#87ceeb] cursor-pointer;
}

.slided-card:hover .btn-div, .slided-card:active .btn-div{
  @apply translate-y-0;
}

.slided-card:hover .card-child, .slided-card:active .card-child{
  @apply translate-y-0;
}


.card-container:hover .child-card:not(:hover){
  @apply xl:blur-sm;
}
.child-card:hover{
  @apply xl:scale-105 xl:z-10 transition-all duration-300 cursor-default;
}


.dashboard-btn{
  @apply text-gray-800 font-bold btn-ghost;
}


.my-shadow{
  @apply shadow-[0_0_15px_1px_rgba(0,0,0,0.343)];
}


.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.num[type=number] {
  -moz-appearance: textfield;
}