@tailwind base;
@tailwind components;
@tailwind utilities;


.fadeIn{
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fromTop{
  visibility: hidden;
  animation: bounceInTop 0.8s forwards 0.5s;
}
@keyframes bounceInTop {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateY(-100vh);
  }
  60% {
      opacity: 1;
      transform: translateY(30px);
  }
  80% {
      transform: translateY(-2px);
  }
  100% {
      visibility: visible;
      transform: translateY(0);
  }
}


.fromRight{
  visibility: hidden;
  animation: bounceInRight 0.8s forwards 0.5s;
} 
@keyframes bounceInRight {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateX(100vw);
  }
  60% {
      opacity: 1;
      transform: translateX(-30px);
  }
  80% {
      transform: translateX(2px);
  }
  100% {
      visibility: visible;
      transform: translateX(0);
  }
} 


.fromBottom{
  visibility: hidden;
  animation: bounceInBottom 0.8s forwards 0.5s;
}
@keyframes bounceInBottom {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateY(100vh);
  }
  60% {
      opacity: 1;
      transform: translateY(-30px);
  }
  80% {
      transform: translateY(2px);
  }
  100% {
      visibility: visible;
      transform: translateY(0);
  }
} 


.fromLeft{
  visibility: hidden;
  animation: bounceInLeft 1s forwards .5s;
}
@keyframes bounceInLeft {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateX(-100vw);
  }
  60% {
      opacity: 1;
      transform: translateX(30px);
  }
  80% {
      transform: translateX(-2px);
  }
  100% {
      visibility: visible;
      transform: translateX(0);
  }
} 


@layer utilities{
  .border-4{
    @apply border-black;
  }

}

@layer components{
  .link{
    @apply font-medium bg-gray-800/90 px-1.5 py-0.5 hover:bg-gray-800 active:scale-95 duration-150 no-underline text-white
    ;
  }
  .link-active{
    @apply font-medium underline underline-offset-4;
  }
  .container{
    @apply mx-auto;
  }
  .input-container{
    @apply relative z-0 mb-8 w-full;
  }
  .input-field{
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-4 border-gray-900/20 appearance-none focus:outline-none focus:border-gray-800 placeholder:font-medium placeholder:text-sm sm:placeholder:text-lg placeholder:text-gray-800;
  }
  
  .input-label{
    @apply absolute text-base font-medium text-gray-900/70 duration-300 -translate-y-8 top-3 -z-10 origin-[0];
  }
  
  .slided-card{
    @apply h-80 max-w-xs w-full overflow-hidden relative cursor-pointer bg-white;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.slided-card .card-child{
  @apply absolute bottom-0 left-0 right-0 h-4/5 translate-y-[75%] transition-transform duration-500 overflow-y-auto;
}
.slided-card .card-child .title{
  @apply h-1/4 ;
}
.slided-card .body{
  @apply h-3/4 overflow-y-auto;
}

.slided-card .btn-div{
  @apply absolute top-0 left-0 right-0 h-1/5 translate-y-[-100%] transition-transform duration-500 flex justify-center items-center;
}
.slided-card .btn-div .my-btn{
  @apply py-0.5 px-1.5 bg-[#87ceeb] cursor-pointer;
}

.slided-card:hover .btn-div, .slided-card:active .btn-div{
  @apply translate-y-0;
}

.slided-card:hover .card-child, .slided-card:active .card-child{
  @apply translate-y-0;
}


.card-container:hover .child-card:not(:hover){
  @apply xl:blur-sm;
}
.child-card:hover{
  @apply xl:scale-105 xl:z-10 transition-all duration-300 cursor-default;
}


.blog-card{
  @apply text-lg font-bold text-gray-800 basis-[27rem] grow shrink p-3 space-y-3 rounded-xl;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.343);
}
.Q-A{
  @apply underline decoration-4 underline-offset-4 mr-2 text-lg text-gray-800;
}
.blog-card h6{
  @apply text-left text-sm sm:text-base sm:h-[60px] ;
}
.blog-card p{
  @apply h-[13.1rem] rounded overflow-auto text-sm font-medium text-gray-800/70;
}


.dashboard-btn{
  @apply text-gray-800 font-bold btn-ghost;
}


.my-shadow{
  @apply shadow-[0_0_15px_1px_rgba(0,0,0,0.343)];
}

.portfolio h3{
  @apply text-lg font-medium;
}
.portfolio input{
  @apply text-base font-medium text-neutral-focus;
}
.portfolio td , .portfolio h5{
  @apply text-sm font-medium;
}
.portfolio div{
  @apply flex justify-start sm:justify-center gap-2 items-center;
}
.portfolio div>input{
  @apply text-center max-w-[15rem];
}

